/* RESET ESTILOS */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    }
.partidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2px;
}
.primerafecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    columns: 1;
    border: red solid 2px;
}
.segundafecha {
    columns: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    border: red solid 2px;
}
.tercerafecha {
    columns: 3;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    border: red solid 2px;
}
.primerPartido {
    display: flex;
    flex-direction: row; 
    font-size: 1rem;
    
}
.segundoPartido {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.tercerPartido {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.cuartoPartido {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.quintoPartido {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.sextoPartido {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    
}
.izquierdo {
    display: flex;
    text-align: center;
    padding: 2px;
}
.derecho {
    display: flex;
    text-align: center;
    padding: 2px;
}
.tabla {
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: grid;
    align-items: center;
    align-content: center;
}
.tablaPosiciones {
    border: 5px solid red;
    padding: 20px;
    font-size: 2rem;
    margin: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-spacing: 25px 10px;
}
.desaparecer {
    display: none;
}
